<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>CUMTD bus locations</title>
    <link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD1P5VHyov7Z9WT4PgioSArkypot7JLSVs&sensor=false&libraries=adsense"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Doppio+One|Londrina+Shadow' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="jquery-latest.js"></script>
    <style type="text/css">

        #routeIcon {
         display: inline-block;
         background-origin: padding-box;
         background-clip: border-box;
         background-size: auto;
         font-family: 'Doppio One';
        }
    </style>
    <script>
var adunit;
var vehicles;
var refreshed_at;
var refresh_at;
var markers;
var map;
var theData;
markers = {};

function refreshVehicles(do_now)
{
  if ($.now() / 1000 > refresh_at || do_now != null) 
  {
    console.log("refreshing");
    $.getJSON("/update_locs.json", function (data, textStatus){
      theData = data;
      vehicles = data["vehicles"];
      refreshed_at = data["refresh_at"];
      refresh_at = data["refresh_at"];
    for (var i = 0; i < vehicles.length; i++)
    {
      if (markers[i] != null) { markers[i].setMap(null); };
      markers[i] = createMarker(vehicles[i], map);  
    }
    });
  }
}

function createMarker (vehicle, map) {
  var marker = new RichMarker({
      position: new google.maps.LatLng(vehicle.lat, vehicle.lon),
      map: map,
      title: vehicle.trip.shape_id,
      content: '<span id="routeIcon" style="background-color: #' + vehicle.route[0].route_color + '; color: #' + vehicle.route[0].route_text_color + '"' +  '>' + vehicle.route[0].route_short_name  + vehicle.trip.direction + '</span>'
  });

  var contentString = '<h1>' + vehicle.trip.route_id + " - " + vehicle.trip.direction + '</h1>';

  google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
      infowindow.setContent(contentString)
  });


  infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  
  return marker;
}


function setMarkerContent() {
    var content = document.getElementById('marker-content').value;
    marker.setContent(content);
}

function initialize() {
  var myLatlng = new google.maps.LatLng(40.104066, -88.230332);
  var bounds = new google.maps.LatLngBounds();
  var mapOptions = {
    zoom: 15,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  google.maps.visualRefresh = true;

  refresh_at = <%= @refresh_at %>

  var adUnitDiv = document.createElement('div');
  var adUnitOptions = {
    format: google.maps.adsense.AdFormat.HALF_BANNER,
    position: google.maps.ControlPosition.BOTTOM_LEFT,
    backgroundColor: '#c4d4f3',
    borderColor: '#e5ecf9',
    titleColor: '#0000cc',
    textColor: '#000000',
    urlColor: '#009900',
    map: map,
    visible: true,
    publisherId: 'pub-1875581769610425'
  }
  adUnit = new google.maps.adsense.AdUnit(adUnitDiv, adUnitOptions);



}


google.maps.event.addDomListener(window, 'load', initialize);
var interval = setInterval(refreshVehicles, 3 * 1000);
refreshVehicles("do");
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>